.nav {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 300px;
  padding: 10px;
  align-items: center;
}

a {
  text-decoration: none;
  color: aliceblue;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/SCOTT-A-WOODWARD_1SW1943-1170x689.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: white;
}
